body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(cyberpunkbg.jpg)no-repeat center fixed;
    background-size: cover;    
    padding: 0;
    margin: 0;
    
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(152,16,7);
background: linear-gradient(351deg, rgba(152,16,7,1) 0%, rgba(242,116,212,1) 100%);
    padding: 2vw;
    border-radius: 15%;
    paddiing: 100px;
    box-shadow: 12px 9px 5px -1px rgba(0,0,0,0.5);
-webkit-box-shadow: 12px 9px 5px -1px rgba(0,0,0,0.5);
-moz-box-shadow: 12px 9px 5px -1px rgba(0,0,0,0.5);
margin-top: 1vw;
margin-bottom: 3vw;
}


.header{
   padding: 1vw;
   font-size: 3vw;
   font-weight: 900;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.gridcontainer {
    background-color: white;
    display: flex;   
    height: 30vw;
    width: 30vw;
    border: solid 5px black;
    border-radius: 10px;
    
    
}


 #column {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.gridcell {
    flex:1 ;
    
      
    
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    padding: 2rem;
    

}



#brush-color {
height: 2vw;
width: 2vw;
border: solid 10px #2a1ed7;
border-radius: 15%;
transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
}

#brush-color:hover{
    transform: scale(1.04);
    background-color: #9e1fe7;
    border-color: #9e1fe7;
}

    /* border-radius: 500px;
    height: 60px;
    width: 60px;
} */


.menu-button {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #2a1ed7;
    height: 48px;
    

}
.menu-button:hover{
    transform: scale(1.04);
    background-color: #9e1fe7;
}

.footer{
    background-color:#191717 ;
    text-align: center;
    color: #F1EFEF;
    font-size: 20px;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    
}
