body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(152,16,7);
background: linear-gradient(351deg, rgba(152,16,7,1) 0%, rgba(242,116,212,1) 100%);
    padding: 20px;
}

.gridcontainer {
    background-color: white;
    display: flex;   
    height: 800px;
    width: 800px;
    border: solid 10px black;
    
    
}


 #column {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.gridcell {
    flex:1 ;
    
      
    
}

.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    

}

.button {
    height: 40px;
    width: 200px;
}

#brush-color {

    height: 60px;
    width: 60px;
}

/*  */
